// Fonts
@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica-Bold.eot");
  src: url("../assets/fonts/Helvetica-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../assets/fonts/Helvetica-Bold.woff") format("woff"),
    url("../assets/fonts/Helvetica-Bold.ttf") format("truetype"),
    url("../assets/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Colors

$gold: #d4b254;
$darkGold: #c8a74b;

$black: #000000;
$mineShaft: #222222;

$darkGrey: #777777;
$lightGrey: #eeeeee;

$Green: #86cb19;

$white: #fff;
